.author_Section{
  float: right;
  text-align: center;
}

.cross_Bar{
  height: 2px;
  width: 400px;
  background-color: #800000;
  margin-top: 10px;
}

.soon{
  float: right;
}

.down_Bar{
  background-color: #800000;
  height: 275px;
  width: 2px;
  margin-left: 200px;
}

.list{
  margin-top: -275px;
}

.description{
  margin-top: 10px;
}
