header{
  background-color: #800000;
  height: 80px;
  width: 400px;
  text-align: center;
  padding-top: 20px;
}

.main_Title{
  color: #ffffff;
  font-size: 20px
}

.sub_Title{
  font-size: 15px;
}
